*.o
*.a
*.so

_obj/
_test/

*.exe
*.cgo1.go
*.cgo2.c
*.[568vq]
[568vq].out
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go

*~
*.swp
.project
.DS_Store
_vendor/

data/*
GoApp
communitrix
communitrix-server
communitrix-goserver
